<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ recipe.title }}</title>
    <link rel="stylesheet" href="../static/css/view_recipe.css">
    <script>
        function printDiv(recipe){
            var content = document.getElementById(recipe).innerHTML;
            var original = document.body.innerHTML;

            document.body.innerHTML = content
            window.print()
            document.body.innerHTML = original
        }
    </script>
</head>
<body>
    <div id="recipe" class="recipe-details">
        <h1>{{ recipe.title }}</h1>

        {% if recipe.image %}
        <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
        {% endif %}

        <h2 class="section-title">Ingredients</h2>
        <ul class="ingredient-list">
            {% for ingredient in recipe.extendedIngredients %}
            <li>{{ ingredient.original }}</li>
            {% endfor %}
        </ul>

        <h2 class="section-title">Instructions</h2>
        <ol class="instruction-list">
            {% for step in recipe.analyzedInstructions[0].steps %}
                <li>{{ step.step }}</li>
            {% endfor %}
        </ol>
    </div>
    <div class="otherContent">
        <a href="/?search_query={{ search_query }}">Back to search results</a>
        <button class="button" onclick=printDiv('recipe')>Print Recipe</button>
    </div>
</body>
</html>